<p class="alert alert-info">{{# str }}extensionhelp, report_assign, {{ fullname }}{{/ str }}</p>
<p class="text-center">
    <a href="#" class="extensiondec"><i class="fa fa-minus-square fa-2x"></i></a>
    <span class="h2 extensioncounter">0</span>
    <a href="#" class="extensioninc"><i class="fa fa-plus-square fa-2x"></i></a>
</p>
<p>
    <a href="#" class="btn btn-primary extensionsave" data-assignmentid="{{ assignmentid }}" data-userid="{{ userid }}">{{# str }}save{{/ str }}</a>&nbsp;
    <a href="#" class="btn btn-warning extensioncancel">{{# str }}cancel{{/ str }}</a>
</p>