<h2>"{{ assignment.name }}"</h2>

{{# groupselect }}
<div class="card text-white bg-primary">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="groupfilter" class="col-form-label-lg">{{# str }}group, report_assign{{/ str }}</label>
                <select class="form-control col-sm-3" id="groupfilter" name="groupfilter">
                    <option value="0">{{# str }}all{{/ str }}</option>
                    {{# groups }}
                        <option value="{{ id }}">{{ name }}</option>
                    {{/ groups }}
                </select>
            </div>
        </form>
    </div>
</div>
{{/ groupselect }}

<table class="table table-striped">
    <thead>
        {{# coursefields }}
            <th>{{{ . }}}</th>
        {{/ coursefields }}
        {{# fieldoptions.splitusername }}
            <th>{{# str }}firstname{{/ str }}</th>
            <th>{{# str }}lastname{{/ str }}</th>
        {{/ fieldoptions.splitusername }}
        {{^ fieldoptions.splitusername }}
            <th>{{# str }}name{{/ str }}</th>
        {{/ fieldoptions.splitusername }}
        {{# blindmarking }}
            <th>{{# str }}participantno, report_assign{{/ str }}</th>
        {{/ blindmarking }}
        {{# profilefields }}
            <th>{{{ . }}}</th>
        {{/ profilefields }}
        {{# submissionfields }}
            <th>{{{ . }}}</th>
        {{/ submissionfields }}
        {{# submissionplugins }}
            <th>{{{ . }}}</th>
        {{/ submissionplugins }}
        {{# groupselect }}
            <th>{{# str }}groups{{/ str }}</th>
        {{/ groupselect }}
        {{# urkundenabled }}
            <th>{{# str }}urkund, report_assign{{/ str }}</th>
        {{/ urkundenabled }}
        {{# turnitinenabled }}
            <th>{{# str }}turnitin, report_assign{{/ str }}</th>
        {{/ turnitinenabled }}
        {{# assignment.markingallocation }}
            <th>{{# str }}workflow, report_assign{{/ str }}</th>
            <th>{{# str }}allocatedmarker, report_assign{{/ str }}</th>
        {{/ assignment.markingallocation }}
    </thead>
    <tbody>
        {{# submissions }}
            <tr class="group_0 {{# groupids }}group_{{ . }} {{/ groupids}}">
                {{# coursefieldsenabled }}
                    {{# coursedata }}
                        <td>{{ . }}</td>
                    {{/ coursedata }}
                {{/ coursefieldsenabled }}
                {{# fieldoptions.splitusername }}
                    <td>{{ firstname }}</td>
                    <td>{{ lastname }}</td>
                {{/ fieldoptions.splitusername }}
                {{^ fieldoptions.splitusername }}
                    <td>{{ fullname }}</td>
                {{/ fieldoptions.splitusername }}
                {{# blindmarking }}
                    <td>{{ participantno }}</td>
                {{/ blindmarking }}
                {{# isprofiledata }}
                    {{# profiledata }}
                        <td>{{ . }}</td>
                    {{/ profiledata }}
                {{/ isprofiledata }}
                {{# groupselect }}
                    <td>{{ groups }}</td>
                {{/ groupselect }}
                {{# submissionfieldsenabled }}
                    {{# submissiondata }}
                        <td>{{ . }}</td>
                    {{/ submissiondata }}
                    {{# extensionduedate }}
                        <td><span id="extensionuser_{{ userid }}">{{ extensionduedate }}</span>
                            {{# extensionsok }}
                                <a href="#" class="doextension" data-assignmentid="{{ assignmentid }}" data-userid="{{ userid }}" data-fullname="{{ fullname }}" title="{{# str }}addextension, report_assign{{/ str }}">
                                    <i class="fa fa-cog"></i>
                                </a>
                            {{/ extensionsok}}
                        </td>
                    {{/ extensionduedate }}
                {{/ submissionfieldsenabled }}
                {{# submissionpluginsenabled }}
                    {{# submissionplugindata }}
                        <td>{{ . }}</td>
                    {{/ submissionplugindata }}
                {{/ submissionpluginsenabled }}
                {{# urkundenabled }}
                    <td>
                        {{# urkund }}
                            {{# pix }}urkund, report_assign, {{# str }}urkund, report_assign{{/ str }}{{/ pix }}{{ urkund.similarityscore }}
                        {{/ urkund }}
                    </td>
                {{/ urkundenabled }}
                {{# turnitinenabled }}
                    <td>
                        {{# turnitin }}
                            {{# pix }}turnitin, report_assign, {{# str }}turnitin, report_assign{{/ str }}{{/ pix }}{{ turnitin.similarityscore }}
                        {{/ turnitin }}
                    </td>
                {{/ turnitinenabled }}
                {{# assignment.markingallocation }}
                    <td>{{ workflow }}</td>
                    <td>{{ marker }}</td>
                {{/ assignment.markingallocation }}
            </tr>
        {{/ submissions }}
    <tbody>
</table>

<div>
    <a href="{{{ backurl }}}" class="btn btn-primary">{{# str }}back{{/ str }}</a>
</div>
